
.headstyle .main h1 {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 15%;
    color: #355681;
    box-shadow: inset 0 0 0 1px rgba(53,86,129, 0.4), inset 0 0 5px rgba(53,86,129, 0.5), inset -285px 0 35px white;
    border-radius: 0 10px 0 10px;
    /*background: #fff url(~/Content/web/web-content-files/header-style-img.jpg) no-repeat center left;*/
    background: linear-gradient(to right, #0000, #ffffff 18%) 0% 0% / cover, url(/Content/web/web-content-files/header-style-img.jpg) no-repeat center left;
}

.headstyle .main h2 {
    margin: 1em 0 0.5em 0;
    font-weight: 100;
    position: relative;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 24px;
    line-height: 36px;
    background: #355681;
    background: rgb(2 17 97);
    border: 1px solid #fff;
    padding: 5px 15px;
    color: white;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
}

.headstyle .main h3 {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-size: 22px;
    line-height: 40px;
    color: #355681;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(53,86,129, 0.3);
}

.headstyle .main h4 {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #788699;
    font-family: 'Muli', sans-serif;
}
